/.idea/

/billing-service/.idea

/billing-service/target

/common-events/.idea

/common-events/target

/shopping-service/.idea

/shopping-service/target

/warehouse-service/.idea

/warehouse-service/target
